<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @body_hash %>
  <ul>
    <% @body_hash["items"].each do |item| %>
      <a href="<%= item["owner"]["url"] %>"><%=item["owner"]["login"]%></a>
    <% end %>
  </ul>
<% end %>
